<p id = "madlib">{{person}} is always very {{adjective}}. One day when {{pronoun}} was getting ready for work
{{pronoun}} noticed a huge {{noun2}} right outside the bedroom window. The {{noun2}} was so {{adjective2}}.
"Go back to {{place}}!!!", {{person}} yelled. The clock is ticking and {{person}} is going to be late for
work after the ordeal. {{person}} looked in the closet and realized all of her clothes were {{color}}.
{{person}} will be {{verb}} {{preposition}} the clock Today. WHAT A MORNING!</p>
