<p id = "madlib">{{data.person}} is always very {{data.adjective}}. One day when {{data.pronoun}} was getting ready for work
{{data.pronoun}} noticed a huge {{data.noun2}} right outside the bedroom window. The {{data.noun2}} was so {{data.adjective2}}.
"Go back to {{data.place}}!!!", {{data.person}} yelled. The clock is ticking and {{data.person}} is going to be late for
work after the ordeal. {{data.person}} looked in the closet and realized all of her clothes were {{data.color}}.
{{data.person}} will be {{data.verb}} {{data.preposition}} the clock Today. WHAT A MORNING!</p>
